<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Chamado</title>
</head>
<body>
    <h1>Chamado:  C{{ chamado.id }} </h1>
    <p> Titulo: {{chamado.titulo}} </p>
    <p> Descrição: {{chamado.descricao}} </p>
    <p> Telefone: {{chamado.telefone}} </p>
    <p> Data de Abertura: {{chamado.data_abertura}} </p>
    <p> Funcionario: {{chamado.autor.nome}} </p>
    <p> Status: {{chamado.status.nome}} </p>
    <p> Categoria: {{chamado.categoria.nome}} </p>
  
</body>
</html>